.middle{

min-height:1080px;
width:95vw; 
padding-left:5%; 

}
#contentofadmin{
display: -webkit-box;
-webkit-box-orient:horizontal;



}
#pending_news{
	
-webkit-box-flex:1;
width:50%; 


}
#pending_registrations{
min-width:400px;

}
.inputform{
	margin-top:10%; 
	margin-left:10%;
	margin-right:10%; 
	padding:2%; 
	border:5px solid gray; 
	max-width:600px;
}
#adminwrap{

display: -webkit-box;
-webkit-box-orient:vertical;
min-height:100vh;

}

#midwrap{

border:solid black 3px;
display: -webkit-box;
-webkit-box-orient:horizontal;
 min-height:95vh; 
 background-image:url(images/BG/home3.jpg); 
}
#right{
-webkit-box-flex:1;
float: right; 
 overflow-x:auto;


}

#left{
width:70vw; 


}
#ppcard{
max-width:250px; 
overflow-x:hidden; 
}
#body1{

	display:inline-block;
}
#homewrap{

	background-image:url("images/BG/home3.jpg"); 
	background-repeat:no-repeat;
	background-size:100% 100%; 

}
#middiv{
background-color:#607D8B;
min-height:100vh; 

}
#postcard{
	margin-left:1%;
	margin-top:15px; 
	max-height:100vh;
	 overflow-y: auto;
	 float: right;
	 margin-right:0px; 

	
	 
}
#cardstyle{
	
	color: white;
	 
background-image:url(images/BG/home3.jpg); 
 

	}
#hometable{
background-image:url(images/BG/border.jpg); 
opacity:0.8; 

}	





#search{
margin-left:1%; 
margin-top:15px;
padding-left:0;
float:left; 

}
/*
search bar edit 
*/


.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  border:3px solid black;
}
#buttonlink{
padding-right:30px; 
display:inline-flex; 
text-align:center; 

}

#b1 a p {display: none;}
#b2 a p {display: none;}
#b1 a:hover p {display:block;}
#b2 a:hover p {display:block;}
#b1 a{text-decoration: none;}
#b2 a{text-decoration: none;}

#rightlist{

	padding-left:25%; 
	margin-left:2%; 
}
#navpp{
	min-height:40px; 
	max-width:50px;
	max-height:50px;  
}
#navigation{
	background-image:url("images/BG/nav.jpg");

background-repeat:no-repeat;
	background-size: 100% 350px; 


}
#navtext{
	color:white;
	font-size:16px; 
	font-weight:bold; 
	text-shadow:2px 2px black; 




		}
.ditem{color: white;}		
.star{

	max-width:20px;
	max-height:20px; 
	border-radius:10px;  
}
.color{

	background-color:red; 
	border-radius:10px; 
}
#logo{

	max-width:80px;
	max-height:80px;  
}
#myChart{


	 padding-top:10%; 

}

